.object-fit{
    padding-left: 18vw !important;
    padding-right : 18vw !important;
    margin : 0px !important;
}

/* Header */
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.wrapper > header {
    margin: 0 auto; top: 0px;
    display: flex;
    width: 100%;
    height: 120px;
   justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    /* border: 1px solid; */
    background-color: white;
    z-index: 5;
}
.mobile-header {
    display: none;
}
.wrapper > header > .header-left {
    /* border: 1px solid; */
}
.wrapper > header > .header-left > a > img {
    width: 83px; height: 82px;
}
.wrapper > header > .header-right {
    flex-grow: 1;
    margin: 0; padding: 0;
    margin-left: 2vw;
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.wrapper > header > .header-right > .menu-block {
    /* border: 1px solid; */
    height: 100%;
    /* flex-grow: 1; */
    width:100%;
}
.wrapper > header > .header-right > .menu-block > nav {
    height: 100%;
    margin: 0px; padding: 0px;
}
.wrapper > header > .header-right > .menu-block > nav > .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    /* border: 1px solid; */
}
.wrapper > header > .header-right > .menu-block > nav > .menu > li  {
    text-align: center;
    flex-shrink: 0;
    font-size: 1.5rem;
    position: relative;
    /* padding-right: 20px; */
}
.wrapper > header > .header-right > .menu-block > nav > .menu > li > a  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 120px;
    /* font-weight: 900; */
}
.wrapper > header > .header-right > .menu-block > nav > .menu > li > a > span  {
}
.wrapper > header > .header-right > .menu-block > nav > .menu > li > .submenu  {    
    position: absolute;
    left: 0px;
    top: 90px;
    width: 100%;
    /* border: 1px solid; */
    margin: 0; padding: 0;
    /* background-color: white; */
    display: none;
}

.wrapper > header > .header-right > .menu-block > nav:hover .submenu-bg{
    display: block;
}
.wrapper > header > .header-right > .menu-block > nav:hover > .menu > li > .submenu {
    display: block;
}

.submenu-bg{
    position:fixed;
    left:0px;
    top: 120px;    
    width : 100%;
    height : 200px;
    background-color: white;
    /* border : 1px solid gray;     */
    opacity: 1  ;;
    z-index:-1;
    display:none;
    border-bottom: 1px solid gray;
}
.wrapper > header > .header-right > .menu-block > nav > .menu > li > .submenu > li  {    
    /* height: 35px; */
    line-height: 20px;
    font-size: .9rem;
    /* border: 1px solid; */
    text-align: left;
    font-weight: 900;
}
.wrapper > header > .header-right > .menu-block > nav > .menu > li > .submenu > li > a  {
    font-family: initial;
}
.wrapper > header > .header-right > .quick-btn {
    /* border: 1px solid; */
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.wrapper > header > .header-right > .quick-btn > div {
    border-radius: 50px;
    height: 100%;
    line-height: 50px;
    width: 150px;
    text-align: center;
    font-size: 1.3rem;
}
.wrapper > header > .header-right > .quick-btn > .btn-branch {
    background-color: rgb(80, 36, 22);
    margin-right: 20px;
}
.wrapper > header > .header-right > .quick-btn > .btn-branch > a {
    display: block;
    color: white;
    /* font-weight: 900; */
}
.wrapper > header > .header-right > .quick-btn > .btn-order {
    background-color: rgb(215, 35, 0); 
}
.wrapper > header > .header-right > .quick-btn > .btn-order > a {
    display: block;
    color: white;
    /* font-weight: 900; */
}

.menu-bar {
    position: relative;
    left: 0px; top: 120px;
    width: 100%;
    z-index: -2;
    /* border: 1px solid; */
    background-color: black;
    /* height: 58px; */
    display: flex;
    align-items: center;
    
    width: 100vw;
}

.menu-bar > .menu-content {
    /* margin-left: ; */
    display: block;
}
.menu-bar > .menu-content > span,
.menu-bar > .menu-content > span > a {
    font-family: initial;
    color: white;
    height: 100%;
    line-height: 58px; 
    font-size: .9rem;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    margin-right: 3px;
}

.menu-bar > .menu-content > a {
    display: block; 
}

.menu-bar > .menu-content > span::before {
    content: " > ";
}

.menu-bar > .menu-content > span:nth-child(1)::before {
    content: "";
}

main {
    /* margin-top: 20px; */
    width: 100%;
    position: relative;
    display: block;
    top: 120px; left: 0px;
}

main > section.sub-container {
}

main > .sub-container > .subtitWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main > .sub-container > .subtitWrap > h1 {
    font-size: 2.5rem;
    flex-shrink: 0;
}

main > .sub-container > .subtitWrap > .event-tab01 {}
main > .sub-container > .subtitWrap > .event-tab01 > ul {
    display: flex;
    align-items: center;
    width: 100%;
}
main > .sub-container > .subtitWrap > .event-tab01 > ul > li {
    padding-right: 20px;
    flex-shrink: 0;
}
main > .sub-container > .subtitWrap > .event-tab01 > ul > li:nth-child(3) {
    padding-right: 0px;
}
main > .sub-container > .subtitWrap > .event-tab01 > ul > li > a {
    display: block;
    /* font-weight: 900; */
    font-size: 1.4rem;
    color: rgb(184, 184, 184);
}
main > .sub-container > .subtitWrap > .event-tab01 > ul > li:nth-child(2) > a {
    color: red;
    text-decoration: underline;
}

main > .sub-container2 {
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
main > .sub-container2 > .subtitWrap2 {
    /* width: 1100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main > .sub-container2 > .subtitWrap2 > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
main > .sub-container2 > .subtitWrap2 > ul > li {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    font-size: 1.5vw;
    /* font-weight: bold; */
    margin : 0;
}
main > .sub-container2 > .subtitWrap2 > ul > li > a {
    display: block;
    /* height: 5.556vw;
    line-height: 5.556vw    ; */
    height: 4.5vw;
    line-height: 4.5vw;
}
main > .sub-container2 > .subtitWrap2 > ul > li:nth-child(1) {
    border-bottom: none;
}
main > .sub-container2 > .subtitWrap2 > ul > li:nth-child(2) {
    border: none;
    border-bottom: 2px solid black;
    background-color: rgb(242, 242, 242);
    
}

main > .sub-container2 > .subtitWrap2 > ul > li:nth-child(2) > a {
    color: rgb(192, 192, 192);
}

main > .sub-container2 > .subtitWrap2 > .subcontent01 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main > .sub-container2 > .subtitWrap2 > .subcontent01 > .eventbox01 {
    margin-top: 1.324vw;
    margin-bottom: 1.324vw;
    /* width: 1100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border : 1px solid; */
    flex-wrap: wrap;
}
main > .sub-container2 > .subtitWrap2 > .subcontent01 > .eventbox01 > li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column; 
    padding : 0px;
    padding-bottom: 1vw;
     
   
    /* padding-right: 15px; */
}
main > .sub-container2 > .subtitWrap2 > .subcontent01 > .eventbox01 > li > a {
    display:flex;
    flex-direction: column;
    
    margin: 0; padding: 0;
    width: 28.5vw; height: 12.5vw;
    /* width: 49.545vw; height: 17.218vw; */
   

}
main > .sub-container2 > .subtitWrap2 > .subcontent01 > .eventbox01 > li > a > img {
    
    
}
main > .sub-container2 > .subtitWrap2 > .subcontent01 > .eventbox01 > li > span {
    /* font-weight: 900; */
    font-size: 1vw;
}

main > .sub-container2 > .subtitWrap2 > .subcontent01 > button {
    margin: 2vh 0px;
    background-color: rgb(81, 35, 20);
    padding: 10px 80px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    /* font-weight: 900; */
}

main > .sub-container2 > .subtitWrap2 > .subcontent01 > button::after {
    content: "▽";
}

footer {
    margin-top: 6vh;
    top: 120px; left: 0;
    position: relative;
    width: 100%;
    background-color: rgb(43, 2, 0);
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
    margin-bottom: 12vh;
}

.footer-container01 {
    width: 100%;
    /* border: 1px solid; */
}
.footer-container01 > .footer-container01-menu {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    /* min-width: 338px; */
    padding-top: 3vh;
    margin: 0;
    border-bottom: 1px solid #f5ebdc;
    margin-bottom: 1vh;
}
.footer-container01 > .footer-container01-menu > li {
    flex-shrink: 0;
    line-height: 2rem;
}
.footer-container01 > .footer-container01-menu > li > a {
    color: #f5ebdc;
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-container01 > .footer-container01-menu > li > .footer-container01-menu-sub {
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-container01 > .footer-container01-menu > li > .footer-container01-menu-sub > li {}
.footer-container01 > .footer-container01-menu > li > .footer-container01-menu-sub > li > a {
    font-family: initial;
    font-size: 1rem;
    font-weight: bold;
    color: #bba391;
}


.footer-container02 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    padding-top: 20px;
    padding-bottom: 60px;
}
.footer-container02 > .copyright {}
.footer-container02 > .copyright > .logo {
    font-size: 1.5rem;
    color: #f5ebdc;
}
.footer-container02 > .copyright > p {
    font-family: initial;
    font-size: 0.875rem;
    color: rgb(187, 163, 145);
    margin: 0; padding: 0;
    font-weight: bold;
}
.footer-container02 > .copyright > p > span.footer-line {
    border: 1px solid;
    margin: 0; padding: 0;
    margin: 0px .625rem;
}
.footer-container02 > .copyright > .sns {}
.footer-container02 > .copyright > .sns > a {}
.footer-container02 > .copyright > .sns > a > i {
    font-size: 2rem;
    color: #bba391;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
}

.footer-container02 > .footer-menu {
    margin-top: 1.5rem;
}
.footer-container02 > .footer-menu > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container02 > .footer-menu > ul > li {
    /* margin-right: .65rem; */
}
.footer-container02 > .footer-menu > ul > li::before {
    content: '　|　';
    color: #bba391;
    font-family: initial;
}
.footer-container02 > .footer-menu > ul > li:nth-child(3) {
    margin-right: 0;
}
.footer-container02 > .footer-menu > ul > li:nth-child(1)::before {
    content: "";
}
.footer-container02 > .footer-menu > ul > li > a {}
.footer-container02 > .footer-menu > ul > li > a > span {
    font-size: 0.75rem;
    color: #bba391;
    font-family: initial;
}
.footer-container02 > .footer-menu > .footer-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}
.footer-container02 > .footer-menu > .footer-btn > a {
    display: block;
    border: 1px solid #bba391;
    width: 6rem;
    text-align: center;
    line-height: 1.7rem;
    margin-right: 1rem;
    border-radius: 1rem;
    
}
.footer-container02 > .footer-menu > .footer-btn > a > span {
    color: #f5ebdc;
    font-family: initial;
    font-size: 0.75rem;
}

.btn-top {
    position: fixed;
    right: 15%;
    top: 60%;
    display: inline;
    /* border: 10px solid; */
    background-color: gray;
    width: 3.5rem;
    height: 3.5rem;
    transition: 1s;
}
.btn-top > span {
    padding: 0.24rem;
    font-weight: bold;
    color: white;
    font-size: 3rem;
}

.btn-top:hover {
    transform: rotate(360deg) scale(1.2);
}